.icon-envelope, .icon-location-pin, .icon-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 20px;
    width: 44px;
    height: 44px;
    background-color:green;

}

.blog-image img {
	width: 100%;
	height: auto;
}

.blog-image {
    overflow:hidden;
}

.post-meta {
    display:flex;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
    color: #555555;
    box-sizing: border-box;
    margin: 0 0 12px;
    padding: 0;
    list-style: none;

}

ul.post-meta li {
 
    line-height: 1.5;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #888888;

}


.sidebar-image {
    width:100%;
    height:auto;
    overflow:hidden

}