{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load social_share %}


{% block post %}
<div class="row">
    <div class="col-md-8 mx-auto"> 
      <!--INICIO Blog Posts-->
      <div class="blog-posts"> 
        <!--INICIO Blog Post-->
          <div class="blog-post my-5 py-4">
            <div class="blog-image rounded"><img src="{{ imagen_url }}" alt="">
          </div>
          <div class="blog-text">
              <div class="blog-title my-2">
                  <h1 class="fw-bold h1">{{ post.titulo }}</h1>
              </div>
              <ul class="post-meta">
                <!-- <li class="mr-3"><i class="fas fa-user-circle"></i> Admin</li> -->
                <li class="mr-3 post-meta"> <i class="fas fa-calendar-alt"></i> {{ post.fecha_creacion }}</li>
                <!-- <li class="mr-3"> <i class="fas fa-comments"></i> 10 Comentarios </li> -->
                <li class="post-tags post-meta"><i class="fas fa-tags"></i> {{ post.categoria }}</li>
              </ul>
              <p class="post-texto mt-4">{{ post.texto|safe }}</p>
              </div>
          </div>
          <!--FIN Blog Post-->
        <h2 class="d-flex justify-content-end">Compartir en redes sociales</h2>
        <div class="d-flex justify-content-end mb-4 pb-3 border-bottom">
          {% post_to_facebook object_or_url '<i class="fab fa-facebook fa-3x mr-2"></i>' %}
          {% post_to_twitter 'Miren este post!' object_or_url '<i class="fab fa-twitter-square fa-3x mr-2"></i>' %}
          {% post_to_whatsapp object_or_url '<i class="fab fa-whatsapp-square fa-3x mr-2"></i>' %}
        </div>
      </div>
      <!--FIN Blog Posts--> 

      <div class="post-comments">
        <h2 class="mb-4">Comentarios</h2>
        
        <li class="comment list-unstyled border-top pr-5 pl-2 py-2">
            <!-- <div class="vcard bio">
              <img src="images/person_1.jpg" alt="Image placeholder">
            </div> -->
            {% for comentario in comentarios %}
              <div class="comment-body border-bottom my-5">
                <h3 class="fw-bold">{{ comentario.usuario }}</h3>
                <h5 class="meta text-muted">{{ comentario.fecha_creacion }}</h5>
                <p>{{ comentario.contenido }}</p>
                <!-- <p><a href="#" class="reply">Reply</a></p> -->
              </div>
            {% endfor %}
          </li>

          {% if request.user.is_authenticated %}
            <form method="POST">
              {% csrf_token %}
              <div>
                {{ form|crispy }}
              </div>
              <button type="submit" class="btn rounded">Enviar</button>
            </form>
          {% endif %}



     </div>

    </div>
    

    <div>


    </div>
{% endblock post %}