{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container row ml-auto mr-auto">
    <div class="col-md-12">
        <div class="p-3 p-md-5 text-white rounded mt-5">
            <img class="sidebar-image" src="{% static 'img/examples/product10.jpeg' %}">
        </div>
    </div>

    
      <div class="col-md-12">
        <h1 class="text-center fw-bold mb-4">¿QUE ES SENDEROS?</h1>
        <div class="col-md-8 ml-auto mr-auto">
            <p class="h4">Senderos es una "Reserva Educativa Experimental con una pequeña
                Granja Auto Sustentable" ubicada en la Legua 110 Colonia Sur sobre la
                margen de la Ruta Provincial N 90 , 10 km antes de llegar a Gral. San
                Martín, Chaco; es un predio chico de 19 ha en total , distribuida en 16
                ha de masa boscosa bosque nativo con pequeños ambientes de Pajonales,
                pastizales, bosque en galerías y Sotobosque y 3 ha agrícola ,su historia
                es reciente ya que del mes de octubre del 2015 se empezo a dar forma a
                un largo sueño que de a poco va tomando realidad , en la actualidad se
                esta construyendo un pequeño y modesto asentamiento principal a orillas
                del Río de Oro con un Senderos principal "Los Ariscos" para su llegada al
                mismo.

                La Reserva comprende toda la masa boscosa muy rica en su
                biodiversidad y parte de pastizales del sector agrícola.</p>
        </div> 
      </div>
      <div class="col-md-12">
        <h1 class="text-center fw-bold mb-4 mt-5">¿CUAL ES SU MISION?</h1>
        <div class="col-md-8 ml-auto mr-auto">
            <p class="h4 mb-4">- Proteger un sector de ambientes naturales para conservar la
                diversidad de la flora y fauna.</p>

            <p class="h4 mb-4">- Resguardar los hábitats principalmente de las especies que están
                amenazadas y en peligro de extinción.</p>

            <p class="h4 mb-4">- Realizar un inventario de la totalidad de la masa boscosa para
                identificar sus plantas y utilidades sin poner en riesgo su evolución y con
                el menor impacto ambiental.</p>

            <p class="h4 mb-4">- Vincular la Conservación con el Desarrollo Sustentable para generar
                beneficios mutuos.</p>

            <p class="h4 mb-4">- Facilitar y realizar la tarea de Investigación poniendo a disposición de
                todos los Instituto Tecnológico el espacio físico y natural para el desarrollo
                de estudios sistémicos; a los Estudiantes y/o Investigadores la realización
                de sus tareas de Investigación , ya sea
                tesis/maestrías/saber/conocimiento/etc…</p>

        </div> 
      </div>

    <div class="col-md-8 ml-auto mr-auto mt-4">
        <h1 class="text-center">Mi pasion por los hongos</h1>
        <blockquote class="wp-block-quote">
            
            <p>
                "...entrar al mundo mágico de los hongos a fin de comprender la
                profundidad de la Naturaleza, su cuidado y conservación…si pudiera sería
                un bosque de hongos para salvar nuestra especie humana…" </p><cite>Pedro "Kchito" Salica</cite>
        </blockquote>


        <img class="imagen" src="{% static 'img/senderos.jpg' %}">
    </div>


      
    
</div>

{% endblock %}