{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mx-0">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-1 fw-bold text-center my-3">Servicios</h1>
        </div>
    </div>

    <div class="row imagen-fondo p-5">
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-3 fw-bold">Oceanos</h1>
            <p class="imagen-texto text-white">Los océanos son vitales para nuestra vida: nos alimentan y regulan el clima. Es momento de defenderlos para asegurar el futuro de todos.</p>
        </div>
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-4 fw-bold hashtag">#MarArgentino</h1>
            <p class="imagen-texto text-white">Necesitamos frenar las exploraciones sísmicas en el Mar Argentino para proteger la fauna de la zona.</p>
            <a class="btn btn-primary" href="{% url 'contacto' %}">Contactanos</a>
        </div>
    </div>
    <div class="row imagen-fondo-2 p-5">
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-3 fw-bold">Bosques</h1>
            <p class="imagen-texto text-white">Los bosques estabilizan el clima y mantienen la vida en la Tierra, pero su destrucción no se detiene.</p>
        </div>
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-4 fw-bold hashtag">#DestruirBosquesEsUnCrimen</h1>
            <p class="imagen-texto text-white">Reclamamos que se prohíban y penalicen los desmontes y los incendios forestales.</p>
            <a class="btn btn-primary" href="{% url 'contacto' %}">Contactanos</a>
        </div>
    </div>
    <div class="row imagen-fondo-3 p-5">
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-3 fw-bold">Contaminacion</h1>
            <p class="imagen-texto text-white">Productos químicos sintéticos y sustancias peligrosas amenazan nuestra salud y el medio ambiente. Pero sabemos que un mundo sin contaminantes es posible.</p>
        </div>
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-4 fw-bold hashtag">#QuemarBasuraMata</h1>
            <p class="imagen-texto text-white">El gobierno de Horacio Rodríguez Larreta modificó la Ley de Basura Cero para permitir la incineración de basura en la Ciudad de Buenos Aires.
            </p>
            <a class="btn btn-primary" href="{% url 'contacto' %}">Contactanos</a>
        </div>
    </div>


{% endblock %}

