{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mx-0">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-1 fw-bold text-center my-3">Servicios</h1>
        </div>
    </div>

    <div class="row imagen-fondo p-5">
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-3 fw-bold">Lorem ipsum dolor sit amet consectetur.</h1>
            <p class="imagen-texto text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex blanditiis saepe eligendi quam, animi quisquam.</p>
        </div>
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-4 fw-bold hashtag">#LoremIpsum</h1>
            <p class="imagen-texto text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit tempore cum dolorum? Aliquid nulla unde provident libero reprehenderit porro?</p>
            <a class="btn btn-primary" href="{% url 'contacto' %}">Contactanos</a>
        </div>
    </div>
    <div class="row imagen-fondo-2 p-5">
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-3 fw-bold">Lorem ipsum dolor sit amet.</h1>
            <p class="imagen-texto text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quaerat nostrum iste minus. Ut distinctio numquam repellendus expedita.</p>
        </div>
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-4 fw-bold hashtag">#LoremIpsum</h1>
            <p class="imagen-texto text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a class="btn btn-primary" href="{% url 'contacto' %}">Contactanos</a>
        </div>
    </div>
    <div class="row imagen-fondo-3 p-5">
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-4 fw-bold">Lorem, ipsum dolor.</h1>
            <p class="imagen-texto text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error accusantium expedita a dolorem consectetur non recusandae quas sed deleniti.</p>
        </div>
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-4 fw-bold hashtag">#LoremIpsum</h1>
            <p class="imagen-texto text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse.
            </p>
            <a class="btn btn-primary" href="{% url 'contacto' %}">Contactanos</a>
        </div>
    </div>
    <div class="row imagen-fondo-4 p-5">
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-4 fw-bold">Lorem, ipsum.</h1>
            <p class="imagen-texto text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore porro accusamus, obcaecati perferendis, numquam quod adipisci voluptatum velit at eius, iusto voluptas.</p>
        </div>
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-4 fw-bold hashtag">#LoremIpsum</h1>
            <p class="imagen-texto text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <a class="btn btn-primary" href="{% url 'contacto' %}">Contactanos</a>
        </div>
    </div>
</div>


{% endblock %}

