{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mx-0">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-1 fw-bold text-center my-3">Servicios</h1>
        </div>
    </div>

    <div class="row imagen-fondo p-5">
        <div class="col-lg-6 p-5">
            <h1 class="titulo text-white display-3 fw-bold">Oceanos</h1>
            <p class="imagen-texto text-white">Los océanos son vitales para nuestra vida: nos alimentan y regulan el clima. Es momento de defenderlos para asegurar el futuro de todos.</p>
        </div>



{% endblock %}

