{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <div class="page-header">
            <h1 class="page-title">Login</h1>
        </div>
        <form method="POST" class="mt-5">
            {% csrf_token %}
            <input type="hidden" name="login" value="true"><div class="members-form">
                <div class="mb-4">
                    <label for="login-email" class="form-label">Email</label>
                    <input name="email" type="email" class="form-control" id="login-email">
                </div>
                <div class="mb-4">
                    <label for="login-password" class="form-label">Contraseña</label>
                    <input name="password" type="password" class="form-control" id="login-password">
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary px-5 py-2">Login</button>
                </div>
                    <p class="text-center mb-0">
                        <a href="#">Te olvidaste tu contraseña?</a>
                    </p>
                </div>
            </form>
    </div>


{% endblock %}