{% extends 'base.html' %}


{% block content %}
<div class="container py-5">
    <div class="row">

        <div class="col-lg-8 mx-auto">
            <div class="page-header">
                <h1 class="page-title text-center">Has cerrado tu sesion</h1>
            </div>
            <div>
                <small class="text-muted">
                    <a href="{% url 'login' %}">Iniciar sesion nuevamente</a>
                </small>
            </div>
        </div>
    </div>

</div>
{% endblock %}