{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container py-5">
        <div class="row">
        
            <div class="col-lg-8 mx-auto">
                <div class="page-header">
                    <h1 class="page-title">Registrarse</h1>
                </div>
                <form method="POST" class="mt-5">
                    {% csrf_token %}
                    {{ form|crispy }}


                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Registrarse</button>
                    </div>
                </form>
                <div>
                    <small class="text-muted">
                    Ya tenes una cuenta? <a href="{% url 'login' %}">Inicia sesion</a>
                    </small>
            </div>
        
        </div>

    </div>
    </div>
    


{% endblock %}